<div class="container">
    <div class="action-wrapper">
    {{#link-to back-btn-link class="btn btn-default btn-back"}}
        <i class="glyphicon glyphicon-chevron-left" aria-hidden="true"></i>
        {{back-btn-name}}
    {{/link-to}}
    </div>
    <div class="header-wrapper text-center">
        <h1>{{header}}</h1>
        <h6>{{current-step}}</h6>
    </div>
</div>