<div class="col-md-3 col-sm-4 service-trigger-item" onclick={{action "goto" card-url}} style="background-color:{{card-color}}">
    <span class="title">{{card-title}}</span>
    <span class="description">{{card-description}}</span>
</div>