<li class="service-item" style="background-color: {{background-color}}">
    <a href="{{service-link}}">
        <div class="service-content"><img src="{{image-url}}"><span>{{service-name}}</span></div>
    </a>
</li>