{{action-bar back-btn-name="Back" back-btn-link="services-list" header="Choose trigger" current-step="Step 2 of 6"}}

<div class="container">
    <div class="row service-triger-list">
        {{service-card card-title='New Feed Item' card-url="configure-service" card-description='This Trigger fires every time a new item is added to the feed you specify.' card-color='#ec7505'}}
        {{service-card card-title='New feed item matches' card-description='This Trigger fires every time a new item in the feed you specify contains a particular keyword or simple phrase.' card-color='#ec7505'}}
    </div>
</div>