{{action-bar back-btn-name="Back" back-btn-link="action-list" header="Choose action" current-step="Step 4 of 6"}}

<div class="container">
    <div class="row service-triger-list">
        {{service-card card-title='Send me an email' card-url="configure-action" card-description='This Action will send you an HTML based email. Images and links are supported.' card-color='#2468ff'}}
    </div>
</div>