{{action-bar back-btn-name="Back" back-btn-link="action-list" header="Complete action fields" current-step="Step 5 of 6"}}

<div class="container">
    <div class="trigger-fields-container" style="background-color:#2468ff">
        <div class="information hidden-sm hidden-xs">
            <h3>Send me an email</h3>
            <p>This Action will send you an HTML based email. Images and links are supported.</p>
        </div>

        <form name="triggerForm" {{action 'saveAction' on='submit'}} novalidate>
            <div class="form-group">
                {{#unless emailAddress}}
                <p id="required-error-text" class="text-danger"><b>Required</b></p>
                {{/unless}}
                {{#unless isValid}}
                <p id="invalid-error-text" class="text-danger"><b>Invalid URL</b></p>
                {{/unless}}
                <label for="actionEmail">Email *</label>
                {{input type="email" class="form-control" id="actionEmail"  value=emailAddress }}
            </div>
            <button id="submit-btn" type="submit" class="btn" disabled={{isDisabled}}>Create action</button>
        </form>

        
    </div>
</div>