{{action-bar back-btn-name="Back" back-btn-link="choose-service" header="Complete trigger fields" current-step="Step 2 of 6"}}

<div class="container">

    <div class="trigger-fields-container">
        <div class="information hidden-sm hidden-xs">
            <h3>New feed item</h3>
            <p>This Trigger fires every time a new item is added to the feed you specify.</p>
        </div>

        <form name="triggerForm" {{action 'submit' on='submit'}}>
            <div class="form-group">
                <label for="feedUrl">Feed URL *</label>
                <p id="required-error-text" class="text-danger" style="display:none">Required</p>
                <p id="invalid-error-text" class="text-danger" style="display:none">Invalid URL</p>
                {{input type="text" class="form-control" id="feedUrl" title="Valid URL eg: https://sportFeed/rss" pattern="(https?:\/\/(?:www\.|(?!www))[^\s\.]+\.[^\s]{2,}|www\.[^\s]+\.[^\s]{2,})" value=configuration.url }}
                <p class="help-text">for feed URL requirements, visit the help page <a class="open-native" href="http://ift.tt/1uHt0N1" target="_blank">visit the help page</a></p>
            </div>
            <button id="submit-btn" type="submit" class="btn">Create trigger</button>
        </form>
    </div>
</div>