<div class="container">
    <div class="flex-container">
        <div class="flex-item">if</div>
        {{#link-to 'services-list' class="flex-item this-item"}}
            <span class="plus">+</span> this
        {{/link-to}}
        <div class="flex-item">then</div>
        <div class="flex-item">that</div>
    </div>
</div>