{{action-bar back-btn-name="Back" back-btn-link="configure-action" header="Review and finish" current-step="Step 6 of 6"}}

<div class="preview">
    <div class="full-applet-card">
        <div class="applet-content">
            <img src="https://assets.ifttt.com/images/channels/4/icons/on_color_large.png" class="applet-logo">

            <div class="form-group">
                <textarea id="summary-text" class="form-control" rows="5" maxlength="140" autofocus>{{model.summaryText}}</textarea>
            </div>

            <div class="limit" id="limitNumber">126/140</div>
        </div>
        <div class="meta">
            <div class="works-with"><span>works with</span>
                <ul>
                    <li><img src="https://assets.ifttt.com/images/channels/4/icons/on_color_regular.png"></li>
                    <li><img src="https://assets.ifttt.com/images/channels/6/icons/monochrome_regular.png"></li>
                </ul>
            </div>
        </div>
    </div>
</div>