{{action-bar back-btn-name="Back" back-btn-link="configure-service" header="" current-step=""}}
<div class="container">
    <div class="flex-container">
        <div class="flex-item">if</div>
        <div class="flex-item"><span class="logo" style="background-color:#ec7505;background-image:url('https://assets.ifttt.com/images/channels/4/icons/on_color_regular.png');"></span></div>
        <div class="flex-item">then</div>
        {{#link-to 'action-list' class="flex-item this-item"}}
       <span class="plus">+</span> that
        {{/link-to}}
    </div>
</div>